{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block main %}
<form action="/account" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change password</button>
</form>
{% endblock %}