{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Type</th>
                <th class="text-end">Symbol</th>
                <th class="text-end">Price</th>
                <th class="text-end">Quantity</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
    <tbody>
            {% for transaction in transaction_history %}
                <tr>
                    <td class="text-start">{{ transaction['type'] }}</td>
                    <td class="text-end">{{ transaction['symbol'] }}</td>
                    <td class="text-end">{{ transaction['price'] | usd }}</td>
                    <td class="text-end">{{ transaction['quantity'] }}</td>
                    <td class="text-end">{{ transaction['date'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}